localhost ansible_connection=local ansible_python_interpreter="/usr/bin/env python3"

[all:vars]

# Common Docker parameters
awx_task_hostname=awx
awx_web_hostname=awxweb
postgres_data_dir=/tmp/pgdocker
host_port={{ awx_host_port }}

# Docker Compose Install
use_docker_compose=true
docker_compose_dir=/var/lib/awx

# Set pg_hostname if you have an external postgres server, otherwise
# a new postgres service will be created
pg_hostname={{ pg_hostname }}
pg_username={{ pg_username }}
pg_password={{ pg_password }}
pg_database={{ pg_database }}
pg_port={{ pg_port | string | default('5432') }}
#pg_sslmode=require

rabbitmq_password=awxpass
rabbitmq_erlang_cookie=cookiemonster

admin_user={{ awx_admin_user | default('admin') }}
admin_password={{ awx_admin_password | default('password') }}

create_preload_data=False

# AWX Secret key
# It's *very* important that this stay the same between upgrades or you will lose the ability to decrypt
# your credentials
secret_key={{ awx_secret_key | default('awxsecret') }}
